
@{
    ViewBag.Title = "NotFound";
}

@section navLinks
{
    <a href="@Url.Action("Index", "Home", Model)" class="navbarlink">Back to home</a><br />
}

<h1>404 not found</h1>
<h2>The post you are trying to view does not exist or has been deleted</h2>
