<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title - Sep's blog</title>

    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />

</head>



<body>
    <div class="container-fluid">
            <div class="col-md-4">
                <div class="navcontainer">
                    <nav>
                        <div class="msg">
                            <div class="msg-title">
                                Navigation
                            </div>
                            <div class="msg-body">
                                @RenderSection("navLinks", false)
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="col-md-4">
                <div class="msgcontainer">
                    <div class="row"></div>
                    @RenderBody()
                </div>
            </div>
            <div class="col-md-4"></div>


        <!--The navbar at the bottom of the page-->
        <!--To be written (it will look like the activity bar)-->
        <!--End navbar-->

        <div class="activity-bar">
            <span id="startMenuButton"><img src="~/Content/Images/start.png" /></span>
        </div>
    
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    @RenderSection("scripts", false)

    <script>
        $("#startMenuButton").click(function () {
            alert("you clicked");
        });
    </script>


</body>
</html>